@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

:root{
    --fuente-principal:'Dongle', Times, Serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

h1 {
    font-size: 60px;
}

.cajas{
    font-size: 18px;
}

.caja1 {
    display: flex;
    width: 60%;
    height: 150px;
    background-color: orange;
    align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 30px;

    animation-name: aniCaja1;
    animation-duration: 3s;
    animation-fill-mode:both;
}

.caja2 {
    display: flex;
    width: 60%;
    height: 150px;
    background-color: palegoldenrod;
    align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 30px;

    animation-name: aniCaja2;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode:both;
}

.caja3 {
    display: flex;
    width: 60%;
    height: 150px;
    background-color: pink;
    align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 30px;

    animation-name: aniCaja3;
    animation-duration: 3s;
    animation-delay:6.5s;
    animation-fill-mode:both;
}

@keyframes aniCaja1 {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }


}

@keyframes aniCaja2 {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }

}

@keyframes aniCaja3 {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }
}