@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --fuente-principal:'Roboto', Times, Serif;
    --fuente-titulo:'Roboto Slab', Times, Serif;
}

header {
    width: 100%;
    height: 20px;
    background-color: #3958f1;
}

a {
    display: inline-flex;
    font-family: 'Roboto';
    text-decoration: none;
    color: #04146c;
    font-size: 24px;
}

.active {
    font-weight: 700;
}

nav {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

#logo {
    width: 5%;
    display: inline-block;
    margin-left: 3rem;
    margin-right: 5rem;
}

div {
    margin-right:5rem;
}

h1 {
    font-family: var(--fuente-titulo);
    font-size: 96px;
    color: #0a2ff1;
}

p {
    font-family: var(--fuente-principal);
    font-size: 34.66px;
    color: #04146c;
}

.titulos {
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-align: center;
}

.ad {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container h1 {
    font-family: var(--fuente-titulo);
    font-size: 45.33px;
    color: #0a2ff1;
}

.container main{
    font-family: var(--fuente-principal);
    font-size: 24px;
    color: #04146c;
    margin-left: 6rem;
}

td img {
    width: 68rem;
    margin-bottom: -5rem;
}

footer {
    height: 7.63rem;
    width: 100%;
    background-color: #3957f1;
}

footer img {
    width: 12%;
    margin-top: 33px;
    margin-left: 100px;
}