@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@font-face {
    font-family: 'Cooveltica';
    src: url(coolvetica\ rg\ \(2\).otf);
}

:root {
    --fuente-titulo:'Cooveltica', Times, Serif;
    --fuente-texto:'Roboto', Times, Seirf;
    --color-titulo:#0a2ff1;
    --color-texto:#04146c;
    --color-fondo:#eff2ff;
}

h1 {
    font-family: var(--fuente-titulo);
    font-size: 120px;
    font-weight: normal;
    color: var(--color-titulo);
}

h2 {
    font-family: var(--fuente-texto);
    color: var(--color-titulo);
    font-size: 30px;
}

p {
    font-family: var(--fuente-texto);
    color: var(--color-texto);
    font-size: 24px;
}

.opciones {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.container {
    display: flex;
    width: 20%;
    background-color: var(--color-fondo);
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 5%;
}

.icon {
    width: 25%;
}

.apple {
    width: 18%;
}