@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --fuente-principal:'Poppins', Times, serif;
}

main {
    text-align: center;
}

h1 {
    font-family: var(--fuente-principal);
    font-size: 78px;
    color: #0a2ff1;
    font-weight: bold;
    margin: auto;
}

p {
    font-family: var(--fuente-principal);
    font-size: 30px;
    color: #0a2ff1;
    font-weight: 500;
}

strong {
    background-color: #3ffff3;
}

.fondo {
    height: 25rem;
    width: 23.8rem;
    margin-left:0rem;

}

.celular {
    height: 35rem;
    margin-left: -24rem;
    margin-right: 18rem;
}