@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
    --fuente-principal:'Poppins', Times, serif;
}

p {
    font-family: var(--fuente-principal);
    font-size: 32px;
    color:#0a2ff1;
}

p, div {
    text-align: center;
}
img {
    width:100px; 
    vertical-align: middle;
    margin-left: 30px;
}