@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    --fuente-principal:'Roboto', Times, Serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

header {
    display: flex;
    height: 35vh;
    width: 100%;
    background-image: url(../imagenes/fondo\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: white;
    mix-blend-mode:screen;
    font-size: 3em;
    border-radius: 10px;
    padding: 10px 5px;
}

h4 {
    font-size: 2em;
}

.coloca {
    margin-top: 30px;
    font-size: 2em;
}

main {
    margin-top: 25px;
}

.img-txt {
    margin-top: 15px;
    border-radius: 2%;
}

.imagen {
    width: 20%;
}

.texto {
    display: none;
    margin-top:15px;
    width: 35rem;
    height: 64.5rem;
    background-color: #dda1dd;
    position: absolute;
    font-size: 20px;
    border-radius: 2%;
}

h2, h3, a, .info {
    margin: 50px;
}

.imagen:hover .texto {
    display: block;
}