@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
 
:root {
    --fuente-principal:'Mulish';
    --color-principal:#0a2ff1;
    --color-texto:#04146c;
}

header {
    font-family: var(--fuente-principal);
    font-size: 40px;
    color: var(--color-principal);
}

h1 {
    font-family: var(--fuente-principal);
    font-size: 80px;
    font-weight: 900;
    color: var(--color-principal);
}

p {
    font-family: var(--fuente-principal);
    font-size: 26.66px;
    color: var(--color-texto);
}

button {
    font-family: var(--fuente-principal);
    font-size: 29.33px;
    background-color: var(--color-principal);
    color: #fff;
    width: 400px;
    height: 70px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: #0b2ac4;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}

.imgs {
    width: 50%;
    height: 20em;
    background-repeat: no-repeat;
    background-image: url(D2-E3-pattern.png);
    background-size: cover;
}

img {
    width: 50%;
    border: 5px solid #0a2ff1;
    margin-left: 6em;
    margin-top: -10rem;
}